@model YungCging_TestHomework_MVC.Models.DataSet_UserData

@{
    ViewBag.Title = "Yc Aplication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Yc Application</h2>
<div class="col-md-12">

    @using (Html.BeginForm("YCAction_Controller", "Home", FormMethod.Post))
    {
        <div class="col-lg-6">
            <div class="form-group">
                <label for="exampleInputEmail1">帳號</label>
                ：
                @Html.TextBoxFor(Model => Model.Account)
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">密碼</label>
                ：
                @Html.TextBoxFor(Model => Model.Password)
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">姓名</label>
                ：
                @Html.TextBoxFor(Model => Model.Name)
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">年紀</label>
                ：
                @Html.TextBoxFor(Model => Model.Age)
            </div>
        </div>

        <div class="col-lg-6">
            <p><button type="submit" name="submit" id="CreateUser" class="=btn btn-primary " value="CreateUser">CreateUser</button></p><br />
            <p><button type="submit" name="submit" id="UpdateUser" class="=btn btn-primary" value="ReadUser">ReadUser</button></p><br />
            <p><button type="submit" name="submit" id="ReadUser" class="=btn btn-primary" value="UpdateUser">UpdateUser</button></p><br />
            <p><button type="submit" name="submit" id="DeleteUser" class="=btn btn-primary" value="DeleteUser">DeleteUser</button></p><br />

            @*<p><a class="btn btn-primary" href="@Url.Action("YCAction_Create","Home")">CreateUser</a></p>
        <p><a class="btn btn-primary" href="@Url.Action("YCAction_Update","Home")">UpdateUser</a></p>
        <p><a class="btn btn-primary" href="@Url.Action("YCAction_Delete","Home")">DeleteUser</a></p>
        <p><a class="btn btn-primary" href="@Url.Action("YCAction_Read","Home")">ReadUser</a></p>*@
        </div>
    }
</div>

